:root {
    --primary-color: #060525;
    --text-primary: #ffffff;
    --text-secondary: #bbb8c2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
}
body {
    background-color: var(--primary-color);
}

.header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid hsl(240,17%,26%);
}
