:root {
    --primary-color: #060525;
    --text-primary: #ffffff;
    --text-secondary: #bbb8c2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
}
body {
    background-color: var(--primary-color);
}

.header {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid hsl(240,17%,26%);
    color: var(--text-primary);
    border-bottom: 1px solid #37374e;
}

.header h1 {
    letter-spacing: 3px;
}

.card-planeta {
    height: auto;
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid #37374e;
}

.info {
    height: auto;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #37374e;
}

.info__boton {
    padding: 18px 12px;
    border: none;
    background: none;
    color: var(--text-secondary);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
}

.info--overview {
    font-weight: 700;
    color: var(--text-primary);
    border-bottom: 2px solid rgb(197, 88, 197);
}

.imagen-planeta {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.imagen-planeta__mercurio {
    width: 150px;
}

.title {
    margin-top: 60px;
    font-family: 'Antonio', sans-serif;
    color: var(--text-primary);
    font-size: 3rem;
    line-height: 100%;
    font-weight: 500s;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.description {
    font-size: 1.2rem;
    text-align: center;
    padding: 16px;
    color: var(--text-secondary);
}

.anchor {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 1.1rem;
    color: var(--text-secondary);
}

.anchor span {
    margin-right: 8px; 
    font-weight: lighter;
}

.anchor a {
    font-weight: bold;
}

.anchor a:link {
    color: blue;
}

.anchor a:visited {
    color: var(--text-primary);
}
