:root {
    --primary-color: #060525;
    --text-primary: #ffffff;
    --text-secondary: #bbb8c2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
}
body {
    background-color: var(--primary-color);
}

.header {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid hsl(240,17%,26%);
    color: var(--text-primary);
    border-bottom: 1px solid #37374e;
}

.info {
    height: auto;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #37374e;
}

.info__boton {
    padding: 18px 12px;
    border: none;
    background: none;
    color: var(--text-secondary);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
}