.items-container {
    margin-top: 65px;
    margin-bottom: 0;
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(2, 400px);
    column-gap: 20px;
    justify-content: center;
}

.plans-container__slider {
    overflow-x: hidden;
    overflow-y: hidden;
}